* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    background-image: url(background.jpeg);
    background: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    
    background-color: #efc5cf;
    width: 800px;
    height: 1000px;
}
.card {
    position: relative;
    left: 200px;
    top: 300px;
    background-color: #fae8ed;
  width: 400px;
  height: 300px;
  border-radius: 25px;
  text-align: center;
}
#fname {
     position: relative;
    left: 260px;
    top: 70px;
    width: 250px;
    height: 48px;
    border: none;
    border-radius: 20px;
    padding: 15px;
}
.wrapper {
    position: relative;
    left: 270px;
    top: 60px;
    font-size: 25px;
}

#nextbutton {
    position: relative;
    left: 60px;
    top: 140px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: black;
}