* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Default: Desktop */
/* .bg-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* cover эсвэл contain */

.container {
    width: 100%;
    max-width: 657px;
    min-height: 100vh;
    background-image: url('background.jpeg');
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;

    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    /* Tablet: 768px хүртэл */
    @media (max-width: 768px) {
        .container {
            max-width: 90%;
            min-height: 1200px;
            padding: 15px;
            background-size: cover;
        }
    }

    /* Mobile: 480px хүртэл */
    @media (max-width: 480px) {
        .container {
            max-width: 100%;
            min-height: 1400px;
            padding: 10px;
            background-size: cover;
        }
    }
};





body {
    display: flex;
    justify-content: center;
    align-items: center;


}

.page {
    display: none;
}

.page.active {
    display: block;
}



.card {
    position: relative;
    left: 110px;
    top: 280px;
    background-color: #fae8ed;
    width: 400px;
    height: 300px;
    border-radius: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 100px;
    backdrop-filter: blur(10px);
    background: rgb(253, 231, 236);
    border-radius: 25px;
    padding: 20px;
    border-style: solid;
    border-color: rgb(255, 182, 193);
}

#fname {
    position: relative;
    left: 200px;
    top: 70px;
    width: 250px;
    height: 48px;
    border: none;
    border-radius: 20px;
    padding: 15px;
}

.wrapper {
    position: relative;
    left: 210px;
    top: 60px;
    font-size: 25px;
}

#toggleBtn {
    position: relative;
    left: 1px;
    top: 140px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.page {
    width: 100%;
    max-width: 657px;
    min-height: 830px;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#toggleBtn2 {
    margin: 20px;
    padding: 5px 10px;
    size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(253, 231, 236);
}

.daily-planner {
    position: relative;
    left: 180px;
    top: 60px;
    font-size: 25px;
}

#card-2 {
    position: relative;
    left: 30px;
    top: 150px;
    width: 300px;
    height: 650px;
    border-radius: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 100px;
    backdrop-filter: blur(10px);
    background: rgb(253, 231, 236);


    padding: 20px;
    border-style: solid;
    border-color: rgb(255, 182, 193);
}


#list {
    background-color: rgb(253, 231, 236);
    width: 200px;
    border-radius: 10px;
    margin: 20px auto;
}

#addlist {
    position: relative;
    left: 115px;
    top: 510px;
    background-color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.deleteBtn {
    border: solid 1px black;
    background-color: rgb(253, 231, 236);
    margin: 10px;
    padding: 1px 5px;
    border-radius: 15px;
}

#card-3 {
    position: relative;
    left: 370px;
    bottom: 470px;
    height: 400px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 100px;
    backdrop-filter: blur(10px);
    background: rgb(253, 231, 236);
    border-radius: 25px;
    border-color: rgb(255, 182, 193);

}


ul {
    list-style: none;
}
.card-4 {
    position: relative;
    left: 370px;
    bottom: 400px;
    height: 100px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 100px;
    backdrop-filter: blur(10px);
    background: rgb(253, 231, 236);
    border-radius: 25px;
    border-color: rgb(255, 182, 193);

}


h4 {
    position: absolute;
    top: 20px;
    left: 110px;

}

h5 {
    position: absolute;
    top: 20px;
    left: 110px;
    font-size: 16px;

}

#message {
    position: absolute;
    top: 50px;
    left: 35px;
    height: 300px;
    padding: auto;
    border: none;
    background-color: rgb(253, 231, 236);
}

#done {
    position: absolute;
    top: 355px;
    left: 150px;
    width: 50px;
}


ul {
    list-style: none;
}

.emoji {

    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 55px;
    left: 23px;

    & button {
        background-color: rgb(253, 231, 236);
        border: none;
        border-radius: 10px;

        &:hover {

            box-shadow: 0px 2px 5px 0.2px grey;
            transition: box-shadow 0.5s;
        }


    }








}
